body{
    margin: 0px;
}
.l{
    background-color:rgba(128, 128, 128, 0.582) ;
    height: 40px; 
}
ol{
    list-style-type: none;
    margin: 0px;padding: 0px;
}
a{
    color: white;
    text-decoration: none;
    padding-left:50px;
    padding-right:50px ;
}
li{
    display: inline-block;
    height: 31px;
    padding-top: 9px;
}
li:hover{
    background-color: black;
    padding-left:10px;
    padding-right:10px ;
}
#p{
    margin-left: 45px;
    /* border: 3px solid blue; */

     width: 100%;
    display: flex;
    /* /* flex-direction: column; */
    /* align-items: center;  */
    flex-direction: row;
    justify-content:center;

    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
}
.x{
    /* display: inline-block; */
    width: 350px;
    height: 350px;
    border: 5px solid white;
    background-color: orange;
    /* position: relative; */
}
img{
    width: 200px;
    height: 200px;
    /* border: 3px solid red; */
    /* position: absolute; */
    padding-left: 75px;
    padding-top:10px ;
}
p{
    text-align: center;
}

.x:hover{
    background-color: blanchedalmond;
    padding-left: 15px;
    padding-right: 15px;
}